.table {
    border-collapse: separate;
    border-spacing: 0.4px;
}

.custom-row {
    cursor: pointer;
    &.is-expanded {
        background-color: #f8faff !important;

        td:first-child {
            border-left: 4px solid var(--bs-primary) !important;
        }

        td {
            border-bottom: none !important;
        }
    }
}

.btn-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}