.custom-row {
    cursor: pointer;
    transition: background-color 0.2s ease;

    td:first-child {
        border-left: 4px solid transparent !important;
        transition: border-left 0.2s ease-in-out, background-color 0.2s ease;
    }

    &:hover {
        background-color: rgba(var(--bs-primary), 0.03);
    }

    &.is-expanded {
        background-color: #f0f5ff !important;

        td:first-child {
            border-left: 4px solid var(--bs-primary) !important;
        }

        td {
            border-bottom: none !important;
        }
    }
}

.btn-icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.2s ease;
    &:hover {
        background-color: var(--bs-primary);
        color: white;
        transform: scale(1.05);
    }
}