.content {
    padding: $content-padding-mobile;
    flex: 1;
    width: 100vw;
    max-width: 100vw;
    direction: ltr;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .content {
        width: auto;
        max-width: auto
    }
}

@media (min-width: 992px) {
    .content {
        padding: $content-padding-desktop;
    }
}