.main {
    display: flex;
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    transition: $sidebar-transition;
    background: $body-bg;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateX(0);
}

:root {
    --nv-gap: 1rem;
    --nv-z: 9999;
}

@media (max-width: 768px) {
    :root {
        --nv-root-x-align: center;
    }
}

.cursor-pointer {
    cursor: pointer;
}