.etapa-A-bg {
    background-color: #00a3ff !important;
}

.etapa-P-bg {
    background-color: #008be6 !important;
}

.etapa-N-bg {
    background-color: #0072cc !important;
}

.etapa-C-bg {
    background-color: #005bb3 !important;
}

.etapa-X-bg {
    background-color: #dc3545 !important;
}